extends ../../../shared/views/layout

block content

  section.smallColumn.centered.pushDown
    h2 Register for Quad Racing Event Manager

    form(action='/register', method='post')
      input.block(type='text', name='name', placeholder='name')
      input.block(type='email', name='email', placeholder='email')
      input.block(type='password', name='password', placeholder='password')
      .button-bar
        a.micro(href='/') Signin?
        button(type='submit') Register!
