extends ../../../shared/views/layout

block content

  section.smallColumn.centered.pushDown
    h2 Quad Racing Event Manager

    form(action='/settings', method='post')
      .title-bar
        h1 Profile Settings
      ul
        li
          label(for="email") Email Address
          input.block(type='email', name='email', placeholder="email", value=current_user.email)
        li
          label(for="name") Name
          input.block(type='text', name='name', placeholder="name", value=current_user.name)
        li
          label(for="handle") Pilot Handle
          input.block(type='text', name='handle', placeholder="pilot handle", value=current_user.handle)
        li
          label(for="new_password") New Password
          input.block(type='password', name='new_password', placeholder="new password")
        li
          label(for="new_password2") Repeat New Password
          input.block(type='password', name='new_password2', placeholder="repeat password")
      .button-bar
        a.micro(href='/') Cancel
        button.button-submit(type='submit') Update!


append scripts
  script(src="/component/user/js/main.js")
