extends ../../shared/views/layout

block title
  | Dashboard - Quad Racing Event Manager

block content
  section.smallColumn.centered.pushDown
    p.tac: a.logo.block(href='/')
      span.is_hidden Quad Racing Event Manager

    h2 Welcome to Quad Racing Event Manager

    ul.tac
      li.pad: a(href="/settings") User Settings
      li.pad: a(href="/signout") Signout
