extends ../../shared/views/layout

block title
  | Dashboard - Quad Racing Event Manager

block content
  section.smallColumn.centered.pushDown

    h2 Quad Racing Event Manager

    ul.tac
      li.pad: a(href="/settings") User Settings
      li.pad: a(href="/signout") Signout

    h2 Pilot Info
    ul
      li.pad= current_user.name
      li.pad= current_user.handle
