extends ../../../shared/views/layout

block title
  | Pilot Details - Quad Racing Event Manager

block content
  h2 Quad Racing Event Manager

  h2= `Pilot Details for ${pilot.full_name()}`

  !=inspect(pilot, "Pilot Details")
