extends ../../../shared/views/layout

block title
  | Dashboard - Quad Racing Event Manager

block content
  // p= `Welcome, ${pilot.full_name()}!`
  
  .row
    .col-12
      h2.mt-3 Your Schedule
  
  
