extends ../../../shared/views/layout

block title
  | Dashboard - Quad Racing Event Manager

block content
  h2 Quad Racing Event Manager

  h2 Welcome to our awesome home page. Please login or register.
