extends ../../../shared/views/layout

block title
  | Events - Quad Racing Event Manager

block content
  form(action='/events', method='post')
    ul.inline
      li: input(name='name', placeholder="event name")
      li: button.button-submit(type='submit') Create

  h2 Events List
  ul
    each event in events
      li.pad: a(href=`/events/${event._id}`)= event.name
