include ../../lib/flash/messages

doctype html
html
  head
    meta(charset="utf-8")
    title
      block title
        | Quad Racing Manager
    block styles
      link(rel='stylesheet', href='/styles/global.css' )

body
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
      a.navbar-brand(href='/') Quad Racing
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          if current_user
            li.nav-item
              a.nav-link(href='/settings')= current_user.handle || current_user.name
            li.nav-item
              a.nav-link(href="/signout")             
          else
            li.nav-item
              a.nav-link(href='/signin') Login
            
  // +messages()
  .container-fluid
    .row
      .col-md-2.bg-light.sidebar.p-3
        ul.nav.nav-pills.flex-column
          li.nav-item
            a.nav-link.active(href='/') Home
          li.nav-item
            a.nav-link(href='/events') Events
          li.nav-item
            a.nav-link(href='/pilots') Pilots
          li.nav-item
            a.nav-link(href='/chapters') Chapters
        
      .col-md-10.offset-md-2.offset-md-0
        block content

  block scripts
    script(src="/scripts/compiled/components.js")
    script(src="/scripts/main.js") */
