extends ../../../shared/views/layout

block title
  | Chapter List - Quad Racing Event Manager

block content
  form(action='/chapters', method='post')
    ul.inline
      li: input(name='name', placeholder="chapter name")
      li: button.button-submit(type='submit') Create

  h2 All Chapters
  ul
    each chapter in chapters
      li.pad: a(href=`/chapters/${chapter._id}`)= chapter.name
